.hv-100 {
    height: 100vh !important;
}

.wv-100 {
    width: 100% !important;
}
.hover-background-gray:hover {
    background-color: lightgray !important;
}
.vh-100-min {
    min-height: 100vh !important;
}

.bg-primary
{
    background-color: #dbd1b4 !important;
}
.bg-secondary
{
    background-color: #0054DD !important;
}
